@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: #333;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 {
    width: 1000px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.slogan {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    opacity: 0.8;
}

#clock {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    font-weight: 100;
    opacity: 0.5;
}

.search-box {
    font-family: 'JetBrains Mono', monospace;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.google {
    padding: 12px;
    width: 900px;
    border-radius: 7px;
    font: 16px 'JetBrains Mono', monospace;
    border: none;
    background: #555;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    text-align: center;
}

.box-3 {
    width: 1000px;
    background: #555;
    text-align: center;
    border-radius: 7px;
    padding-top: 1px;
    padding-bottom: 15px;
    margin-top: 50px;
    font: 20px 'JetBrains Mono', monospace;
    color: white;
}

.bookmarks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

li:first-child {
    font-weight: bold;
}

a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: 0.1s;
}

a:hover {
    color: #FCA311;
}